:root
{
    --base-color:#7ea4b1;
    --white: #fff;
    --black: #000;
}

.header_top_center
{
    justify-content: center;
}
.welcome-msg a
{
    color: var(--white);
}
.hs-simple
{
    width: 200px;
    max-width: 200px !important;
}
.categories_title_name
{
    text-align: center;
}
.element
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.4rem 0 2.6rem;
    background-color: #fff;
    border-radius: 1rem;
    transition: transform 0.3s;
    text-align: center;
}
.element p
{
    color: #333333;
    margin-bottom: 0px;
    font-size: 16px;
    font-family: circularstd-medium;
    line-height: 1.5;
    margin-top: 1em;
    letter-spacing: .02em;
    font-weight: 100 !important;
}

h2.title.title-center.ls-s.mb-8 
{
    font-size: 32px;
    line-height: 1.09375;
    color: var(--color-text);
    font-weight: 100 !important;
}
.font_italic
{
    font-style: italic;
    font-family: domainedispnar;
}
.dis_block
{
    display: block;
}
.offer_price_details
{
    justify-content: left;
    text-align: left;
}
.offer_price_details span
{
    padding: 5px 5px !important;
    margin: 5px !important;
}
.product-price.ls-md.offer_price_details span
{
    color: var(--color-text);
    font-family: circularstd-medium;
    font-size: 18px;
    font-weight: 100;
}
.line-through
{
    text-decoration: line-through;
    color: var(--base-color);
    opacity: 0.5;
}
.base-color
{
    color: var(--base-color) !important;
    font-size: 16px !important;
    font-weight: 100 !important;
    font-family: circularstd-medium;
}
.base-color-bg
{
    background: linear-gradient(to bottom right,rgb(151 237 171 / 16%) 0%,rgb(160 196 243 / 28%) 100%);
}
.product_banner 
{
    background: url(../images/demos/demo-food2/products/pro_banner.jpg) no-repeat !important;
    border-radius: 10px; 
    padding: 50px;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.product_banner h1
{
    color: var(--color-text);
    font-family: circularstd-medium;
    font-size: 40px;
}
.product_banner_2 h1
{
    color: var(--color-text);
    font-family: circularstd-medium;
    font-size: 40px;
}
.product_banner p
{
    font-family: circularstd-medium;
    font-size: 20px;
    line-height: 30px;
    color: #7f848b;
}
.product_banner_2 p
{
    font-family: circularstd-medium;
    font-size: 20px;
    line-height: 30px;
    color: #7f848b;  
}
.product_banner a
{
    font-size: 20px;
    color: var(--color-text);
    line-height: 50px;
    text-decoration: underline;
    font-family: circularstd-medium;
}
.product_banner_2 a
{
    font-size: 20px;
    color: var(--color-text);
    line-height: 50px;
    text-decoration: underline;
    font-family: circularstd-medium;
}
.text-black
{
    color: var(--black);
}
.megamenu 
{
    min-width: 800px;
    max-width: 800px;
}
.pad_lft_rgt_55
{
    padding: 0px 55px;
}
.nav-tabs .nav-item .nav-link.active:before
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
    border-top-color: var(--base-color);
    border-bottom: 0;
    margin-left: -0.5em;
    margin-bottom: -0.5em;
}
.category-section
{
    padding-top: 30px;
}
.team_italic
{
    font-style: italic;
}
.cli_logo p 
{
    font-family: circularstd-medium;
    font-size: 20px;
    line-height: 1.86;
    color: var(--color-text);
    text-align: center;
    margin: 0px;
    padding-top: 10px;
}

@media (min-width: 320px) and (max-width: 767px)
{
    .intro-section .banner-title 
    {
        font-size: 4rem;
        line-height: 75px;
    }
    .title-echo span 
    {
        font-size: 25px;
        line-height: 30px;
    }
    h1 
    {
        font-size: 3rem;
        text-align: center;
        line-height: 50px;
    }
}
